<h1>Welcome to the community of Swappaholics!</h1>

<!-- JUMBOTRON -->
<div class="container">
	<div class="jumbotron">
	  <h1>HOW IT WORKS</h1>
	  <p>The 4T's</p>
	  	<ul>
	  		<li>Post TRASH</li>
	  		<li>Find TREASURE</li>
	  		<li>Barter TRADE</li>
	  		<li>Enjoy TRIUMPH</li>
	  	</ul>
	  <p><a class="btn btn-primary btn-lg">Sign up</a></p>
	</div>
</div>

<div class="container">
	<% @users.each do |u| %>
		<ul>
			<h4>User First Name</h4>
			<li><%= u.first_name %></li>
			<h4>Last Name</h4>
			<li><%= u.last_name %></li>
			<h4>Email</h4>
			<li><%= u.email %></li>
			<h4>Rating</h4>
			<li><%= u.rating %></li>
		</ul>
	<% end %>

<!-- MARKETPLACE -->
	<div class="container">
	<%= render partial: 'layouts/marketplace' %>

	</div>

	<a href="#" class="btn btn-primary">Primary</a>
	<a href="#" class="btn btn-success">Success</a>
	<a href="#" class="btn btn-info">Info</a>
	<a href="#" class="btn btn-warning">Warning</a>
	<a href="#" class="btn btn-danger">Danger</a>
</div>

Words words words. Kevin likes it in the backend.

