<h1>See Individual Item!</h1>

<div>
<!-- BOOTSTRAP GRID SYSTEM -->
	<div id="marketplace_grid">
		<div class="row">
				<div class="col-md-4">
					<ul id="item_marketplace">
						<h4 class="label label-info" id="item_label">NAME</h4>
						<li><%= @item.name %></li>
						<h4 class="label label-info" id="item_label">DESCRIPTION</h4>
						<li><%= @item.description %></li>
						<h4 class="label label-info" id="item_label">CATEGORY</h4>
						<li><%= @item.category %></li>
						<h4 class="label label-info" id="item_label">CONDITION</h4>
						<li><%= @item.condition %></li>
						<h4 class="label label-info" id="item_label">ESTIMATED VALUE</h4>
						<li><%= @item.est_value %></li>
						<h4 class="label label-info" id="item_label">WILLING TO TRADE FOR</h4>
						<li><%= @item.willing_to_trade_for %></li>

<!-- LINK TO'S -->
<!-- HIDE EDIT ITEM IF !CURRENT_USER -->
						<% if current_user && current_user.items.exists?(id: @item.id) %>
						<span><%= link_to "Update Item >>", edit_item_path %></span><br>
						<% else %>			
						<span><%= link_to "Back to Marketplace >>", items_path %></span> <% end %>
					</ul>
				</div>
		</div>
	</div>

	<!-- <%#= link_to "Propose Trade", insert link for new.html.erb %> -->

</div>

<% if current_user && current_user.items.exists?(id: @item.id) %>
<p> DUDE you cannot trade with yourself! </p>
<% else %>
<span><%= link_to "Offer Trade", new_trade_id_path(@item)%></span>

<% end %>


