<h1>See Individual Item!</h1>

<div>
<!-- BOOTSTRAP GRID SYSTEM -->
	<div id="marketplace_grid">
		<div class="row">
				<div class="col-md-4">
					<ul id="item_marketplace">
						<h4 class="label label-info" id="item_label">NAME</h4>
						<li><%= @item.name %></li>
						<h4 class="label label-info" id="item_label">DESCRIPTION</h4>
						<li><%= @item.description %></li>
						<h4 class="label label-info" id="item_label">CONDITION</h4>
						<li><%= @item.condition %></li>
						<h4 class="label label-info" id="item_label">ESTIMATED VALUE</h4>
						<li><%= @item.est_value %></li>
						<h4 class="label label-info" id="item_label">WILLING TO TRADE FOR</h4>
						<li><%= @item.willing_to_trade_for %></li>
						<span><%= link_to "Back to Marketplace >>", items_path %></span>
					</ul>
				</div>
		</div>
	</div>


</div>