<!-- USER PROFILE INFO -->
<div class="container">
	<h1><%= current_user.firstname %>'s Profile</h1>
<!-- BOOTSTRAP GRID SYSTEM -->
	<div class="row">
<!-- USER VERTICAL NAV -->
		<!-- Nav tabs -->
		<div class="col-md-4">
				<ul class="nav nav-tabs nav-stacked" role="tablist">
				  <li class="active"><a href="#profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;Profile</a>
				  </li>
				  <li><a href="#items" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;&nbsp;My Items</a>
				  </li>
				  <li><a href="#swaps" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-retweet"></span>&nbsp;&nbsp;&nbsp;Swaps</a>
				  </li>
				</ul>
		</div>
		<!-- Tab panes -->
		<div class="col-md-6" id="main_user_container">
					<div class="tab-content">
<!-- PROFILE CONTENT SECTION -->
						<div class="tab-pane active" id="profile">
							<h4 class="label label-info" id="item_label">First Name</h4><br>
							<%= current_user.firstname %><br>
							<h4 class="label label-info" id="item_label">Last Name</h4><br>
							<%= current_user.lastname %><br>						
							<h4 class="label label-info" id="item_label">Email</h4><br>
							<%= current_user.email %><br>
<!-- MODAL BUTTON: USER PROFILE EDIT -->
							<button class="btn btn-primary" data-toggle="modal" data-target="#edituserprofilemodel">
							  Edit Profile
							</button>
						</div>
<!-- ITEMS CONTENT SECTION -->
					  <div class="tab-pane" id="items">
					  	<h4 class="label label-info" id="item_label">Items</h4><br>
								<% current_user.items.each do |i|%>
								<ul class="items_users_show">
									<%= i.name %> - <%= link_to "See More", item_path(i)%><br>
									<%=link_to "Delete Item", item_path(i), method: :delete %><br>
								</ul>
								<% end %>

							<button class="btn btn-primary changeanchor">
							  <%= link_to "Post New Item", new_item_path(@item)%>
							</button>
					  </div>
<!-- SWAP CONTENT SECTION -->
					  <div class="tab-pane" id="swaps">
					  	<h4 class="label label-info" id="item_label">BACK TO MARKETPLACE</h4><br>
					  	<button class="btn btn-primary changeanchor">
					  		<%= link_to "Find Treasure", items_path %>
					  	</button>
					  </div>
					</div>
		</div>
	</div>
</div>

<%= render partial: 'layouts/d3piechart' %> 

<!-- MODAL BOX: USER PROFILE EDIT -->
<div class="modal fade" id="edituserprofilemodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      	<div class="container">
					<div class="row">
						<div class="col-md-3">
			        <%= form_for @user do |f| %>
								<div class="edit_box">
									<h4 class="label label-info" id="item_label">First Name</h4>
								</div>
								<div class="input-group">
							    <%= f.text_field :firstname, :class => "form-control" %>
							  </div>
								<div class="edit_box">
									<h4 class="label label-info" id="item_label">Last Name</h4>
								</div>
								<div class="input-group">
							     <%= f.text_field :lastname, :class => "form-control" %>
							  </div>

								<div class="edit_box">
									<h4 class="label label-info" id="item_label">Email</h4>
								</div>
								<div class="input-group">
						     <%= f.text_field :email, :class => "form-control" %>
						   	</div>
							
						</div>
					</div>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Save Changes" %>
        			<% end %>
      </div>
    </div>
  </div>
</div>

