<!DOCTYPE html>
<html>
<head>
  <title>Swappaholic</title>
  <!-- D3 Script Tag load -->
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	<div id="mainmain">
		<%= render partial: 'layouts/navbar' %>

		<!-- DEVISE -->
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>



		<%= yield %>
	</div>
</body>
</html>
